<div id='proposal-vote-info' class="col">
  <div class="card box" style="padding-bottom: 0px;">
    <div class="card-content text-center">
      <% unless is_current_user_owner_of?(proposal) %>
        <%if !proposal.is_expired? && proposal.votes_count < 5 %>
          <h5 class="text-muted" style='margin-bottom: 0px;'>Votez pour cette proposition</h5>
          <p class='text-muted' style='font-style: italic; margin-top: 0px'> Il reste : <%= proposal.lifetime %> jours pour voter</p>
          <%if user_signed_in?%>
            <%if proposal.city == current_user.city %>
              <%if proposal.vote_of(current_user)%>
                <%= link_to '<i class="material-icons" style="font-size: 19px">sentiment_satisfied_alt</i> A voté'.html_safe, proposal_vote_path(proposal.id, proposal.vote_of(current_user).id), id: 'del-vote-btn', :class => "btn btn-success", method: :delete, remote: true %>
              <%else%>
                <%= link_to '<i class="material-icons" style="font-size: 19px">how_to_vote</i> Je vote'.html_safe, proposal_votes_path(proposal.id), id:'add-vote-btn', :class => "btn btn-primary", method: :post, remote: true %>
              <%end%>
            <%else%>
              <p>Vous ne pouvez pas voter pour les propositions en dehors de votre ville !</p>
            <%end%> 
          <%else%>
            <p>Connectez-vous pour pouvoir voter !</p> 
          <%end%>
        <%else%>
          <%if proposal.is_expired? %>
            <div class="alert alert-warning">
              <p class="text-center">Expirée</p>
            </div>    
            <p class="text-muted text-center">Cette proposition n'a pas reçu le nombre de votes suffisant pour être validée avant la date limite.</p>
            <p class="text-muted text-center">Merci pour votre proposition <%= proposal.user.first_name %> !</p>    
          <%else%> 
            <div class="alert alert-info">
              <p class="text-center">Validée</p>
            </div>
            <p class="text-muted text-center">Cette proposition a reçu le nombre de votes minimum pour passer à l'action ! <%= proposal.user.first_name %> a été mis(e) en relation avec les votants.</p>
            <p class="text-muted text-center"> Bravo <%= proposal.user.first_name %> !</p> 
          <%end%>
        <%end%>
      <% else %>  
        <p class='text-muted' style='font-style: italic; margin-top: 0px'> Il reste : <%= proposal.lifetime %> jours avant l'expiration de la proposition</p>
      <% end %>
      <% if proposal.votes_count > 1 %>
        <h6 id='votes-count'><%= proposal.votes_count %> VOTES</h6>
      <% else %>
        <h6 id='votes-count'><%= proposal.votes_count %> VOTE </h6>
      <% end %>
    </div>
    <% unless proposal.votes_count == 0 %>
      <div class="card-footer" style="padding-top: 3px;  margin-bottom: 0px;">
        <div id='classification' class="price">
          <%= render 'proposals/classifications', proposal: proposal %>
        </div>
      </div>
    <% end %>
  </div>
</div>