<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Récap de la commande numéro <%= @order.id %></h1>
    </p>Cette commande a été passée par <%= @user.first_name %> <%= @user.last_name %> le <%= @order.created_at %></p>
    <br>
    <br>
    <% @order.items.each do |item| %>
      <% if item.image.attached? %>
        <%= image_tag(item.image, :size => "260x180") %> 
      <% end %>
    <%end%>
    <br>
    <br>
    <p>
    <%= @url %>
    </p>
  </body>
</html>