<footer class="footer-down mt-5 pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="text-white-footer"><%= image_tag("logoblack.png") %></h2>
        <p class="pr-5 text-white-footer">Vous aussi, concrétisez votre projet !</p>
        <br>
        <div class="text-left center-block">
          <a href="https://www.facebook.com" class="text-primary"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com" class="text-primary"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com" class="text-primary"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="https://mail.google.com" class="text-primary"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class=" mt-sm-3 text-white-footer">Nous connaître</h4>
        <p><%= link_to "À propos", contact_path ,class: "text-white-footer"%></p>
        <p><%= link_to "Mentions légales", legal_path ,class: "text-white-footer"%></p>
        <p><%= link_to "Notre charte", policy_path ,class: "text-white-footer"%></p>
        <p><%= link_to "FAQ", faq_path ,class: "text-white-footer"%></p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="mt-lg-0 mt-sm-4 text-white-footer">Contact</h4>
        <br>
        <p class="text-white-footer">22 rue des lauriers, 33000 Bordeaux</p>
        <p class="mb-0 text-white-footer"><i class="fa fa-phone mr-3 text-white-footer"></i> 05 62 23 55 89</p>
        <p class="text-white-footer"><i class="fa fa-envelope-o mr-3 text-white-footer"></i> zeagoraproject@gmail.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p class=""><small class="text-white-footer">© 2020. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</footer>
