<!DOCTYPE html>
<html>
  <head>
    <title>Agora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logoblack.ico' %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/scroll_top_btn" %>
    <%= render "layouts/footer" %>
  </body>
</html>
