<div class="content">
  <div class="container-fluid">
    <br><br>
    <div class="row">
      <h2 class="text-center">À propos d'Agora</h2>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-5 col-sm-5">
        <h5>Agora est une plate-forme citoyenne vous permettant de proposer et de partager des initiatives locales, dans le but d'améliorer le quotidien de tous !
          De manière simple et claire, vous devenez un véritable acteur dans la vie de votre ville.
        </h5>
        <h5>Cette idée qui est née du désir de vouloir faire bouger les choses, vite, et tout cela de façon inclusive.
          Nous croyons en l'humain et c'est ensemble que nous irons plus loin.
        </h5>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= image_tag("team.svg", style: "width:250px")%>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <br><br>
    <div class="row">
      <h2 class="text-center">Nous contacter</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-3"></div>
      <div class="col-md-6 col-sm-6">
        <div class="card">
          <table class="table">
            <tbody>
              <tr>
                <td class="text-center">     
                  <h4> <i class="fa fa-envelope-o mr-3"></i></h4>                                                 
                </td>
                <td class="text-right"><h5>zeagoraproject@gmail.com</h5>
                </td>                                                         
              </tr> 
              <tr>
                <td class="text-center">            
                  <h4> <i class="fa fa-phone mr-3"></i></h4>            
                </td>
                <td class="text-right"><h5> 05 62 23 55 89</h5>
                </td>                                                          
              </tr>
              <tr>
                <td class="text-center">  
                  <h4> <i class="fa fa-map-marker" aria-hidden="true"></i></h4>
                </td>
                <td class="text-right"><h5>22 rue des lauriers, 33000 Bordeaux</h5>
                </td>                                                           
              </tr>                                                  
            </tbody>
          </table>
        </div>                                    
      </div>
      <div class="col-md-3 col-sm-3"></div>
    </div>
    <br><br>
    <div class="row">
      <h2 class="text-center">Nous connaître</h2>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 col-sm-1"></div>
      <div class="col-md-2 col-sm-3">
        <div class="card card-product">
          <div class="card-image" data-header-animation="true">
            <%= image_tag("mathieu.jpg", style: "width: 100%") %>
          </div>
          <div class="card-content">     
            <div class="card-actions">
              <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="LinkedIn">
                <a href="https://fr.linkedin.com/in/mathieubobin?challengeId=AQEVaCK9EPlAmAAAAXK4QHi52mctIJUq7uEXv08qYbHY2K507EDx11_RGA-m5Uhwd_z8pQN02CVOMpUvPyU7rt2utQ-eBVd-hA&submissionId=4dd550b2-f5bb-1816-7cb9-526bf9a28a55"><i class="fa fa-linkedin-square" aria-hidden="true" style="color:#2a75bd;"></i></a>
              </button>
            </div>               
            <h4 class="card-title">
              Mathieu Bobin
            </h4>
            <div class="card-description">
              Dirigeant
            </div>
          </div>
          <div class="card-footer">
            <p class="category"><i class="material-icons">place</i>Lyon</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card card-product">
          <div class="card-image" data-header-animation="true">
            <a href="#pablo">
              <%= image_tag("tim.jpg", style: "width: 100%") %>  
            </a>
          </div>
          <div class="card-content">
            <div class="card-actions">
              <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="LinkedIn">
                <a href="https://fr.linkedin.com/in/timoth%C3%A9-ruffino-0819a81a9"><i class="fa fa-linkedin-square" aria-hidden="true" style="color:#2a75bd;"></i></a>
              </button>
            </div> 
            <h4 class="card-title">
              Timothé Ruffino 
            </h4>
            <div class="card-description">
              Directeur Marketing
            </div>
          </div>
          <div class="card-footer">
            <p class="category"><i class="material-icons">place</i>Clermont-Ferrand</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card card-product">
          <div class="card-image" data-header-animation="true">
            <%= image_tag("brahim.jpg", style: "width: 100%") %>
          </div>
          <div class="card-content">
            <div class="card-actions">
              <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="LinkedIn">
                <a href="https://www.linkedin.com/in/brahim-o-8086b9187/"><i class="fa fa-linkedin-square" aria-hidden="true" style="color:#2a75bd;"></i></a>
              </button>
            </div> 
            <h4 class="card-title">
              Brahim Ouinten
            </h4>
            <div class="card-description">
              Développeur Full Satck
            </div>
          </div>
          <div class="card-footer">
            <p class="category"><i class="material-icons">place</i>Paris</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-2 col-sm-3">
          <div class="card card-product">
            <div class="card-image" data-header-animation="true">                           
              <%= image_tag("mathildej.jpg", style: "width: 100%") %>                            
            </div>
            <div class="card-content">     
              <div class="card-actions">
                <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="LinkedIn">
                  <a href="https://fr.linkedin.com/in/mathilde-de-jaureguiberry-765087169"><i class="fa fa-linkedin-square" aria-hidden="true" style="color:#2a75bd;"></i></a>
                </button>
              </div>               
              <h4 class="card-title">
                Mathilde de Jaureguiberry
              </h4>
              <div class="card-description">
                Développeur Full Stack 
              </div>
            </div>
            <div class="card-footer">
              <p class="category"><i class="material-icons">place</i>Grenoble</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="card card-product">
            <div class="card-image" data-header-animation="true">                                  
              <%= image_tag("mathilde.jpg", style: "width: 100%") %>                                  
            </div>
            <div class="card-content">
              <div class="card-actions">
                <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="LinkedIn">
                  <a href="https://fr.linkedin.com/in/mathilde-prouchandy-35b692139"> <i class="fa fa-linkedin-square" aria-hidden="true" style="color:#2a75bd;"></i></a>
                </button>
              </div> 
              <h4 class="card-title">
                Mathilde <br>Prouchandy 
              </h4>
              <div class="card-description">
                Responsable UX
              </div>
            </div>
            <div class="card-footer">
              <p class="category"><i class="material-icons">place</i>Paris</p>
            </div>
          </div>               
        </div>
        <div class="col-md-4 col-sm-3"></div>
      </div>
    </div>
    <br><br>
  </div>
</div>