<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <br><br><br>

<h1 class ='h3 mb-3 font-weight-normal text-center'>Changer le mot de passe</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "Nouveau mot de passe", class: 'col-form-label' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe", class: 'col-form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  <div class="actions">
    <%= f.submit "Changer mon mot de passe", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
  <%= render "devise/shared/links" %>
</div>
</div>
</div>
